<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./binding.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="giohang">
                <p>Giỏ hàng ({{ cartNumber }})</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="image">
                        <img v-bind:src="getProduct.img" alt="image">
                    </div>
                </div>
                <div class="col-md-9">
                    <a v-bind:href="url" v-bind:target="target" class="title">{{ title }}</a>
                    <p class="price">Giá: {{  priceFormat }} </p>
                    <p v-if="getProduct.quantity > 0">Tồn kho: {{ getProduct.quantity }} sản phẩm</p>
                    <p v-if="getProduct.quantity <= 0">Đã hết hàng</p>
                    <p>Tên sản phẩm: {{ getProduct.textProduct }}</p>
                    <div class="image-icon">
                        <div class="row">
                            <div class="col-md-1" v-for="(item, index) in listProduct" v-bind:key="index" v-on:click="handleClick($event, index)">
                                <img v-bind:src="item.img" v-bind:alt="item.textProduct">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger" v-on:click="handleAddToCart">Mua</button>
                </div>
            </div>
            <div class="button">
                <h2 class="detail">Chi tiết</h2>
                    <ul>
                        <li v-for="item in detail">
                            {{ item }}
                        </li>
                    </ul>
            </div>
            <div class="comment">
                <h2>Bình luận:</h2>
                <p>{{ comment }}</p>
                <textarea type="text" v-model="comment"></textarea>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="binding.js"></script>
</body>
</html>