<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <p>{{  message.split('').reverse().join('') }}</p><hr>
        <button v-on:click="a++">A = A + 1</button>
        <button v-on:click="b++">B = B + 1</button>
        <p>Number + A = {{ addA }}</p>
        <p>Number + B = {{ addB }}</p>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'hello world',
                a: 0,
                b: 0,
                number: 20
            },
            methods: {

            },
            computed: {
                addA(){
                    console.log('add a run');
                    return this.a + this.number
                },
                addB(){
                    console.log('add b run');
                    return this.b + this.number
                }
            }
        })
    </script>
</body>
</html>