<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <div id="blog-post-demo">
        <blog-post
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:title="post.title"></blog-post>
    </div>

    <div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        ></blog>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        //Component: button_counter
        Vue.component('button-counter', {
            data: function () {
                return {
                count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
            });
        new Vue({ el: '#components-demo' });

        //Component: blog-post
        Vue.component('blog-post', {
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        })
        new Vue({
            el: '#blog-post-demo',
            data: {
                posts: [
                    { id: 1, title: 'My journey with Vue' },
                    { id: 2, title: 'Blogging with Vue' },
                    { id: 3, title: 'Why Vue is so fun' }
                ]
            }
        })

        //Component: blog-post
        Vue.component('blog', {
            props: ['post'],
            template: `<div class="blog-post">
                        <h3>{{ post.title }}</h3>
                        <button>
                            Enlarge text
                        </button>
                        <div v-html="post.content"></div>
                        </div>
                    `
        })
        new Vue({
            el: '#blog-posts-events-demo',
            data: {
                posts: [
                    {title: 'bong da', content:'ko the bo lo '}
                ],
                postFontSize: 1
            }
        })
    </script>
</body>
</html>