<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom</title>
</head>

<body>
    <div id="blog-post-demo">
        <h2>{{title}}</h2>
        <blog-post  
        v-bind:title="title"
        v-on:changeTitleEvent="changeTitle"
        >
        </blog-post>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        //Component: blog-post
        Vue.component('blog-post', {
            props: ['title'],
            template: `<div>
                <h3>{{ title }}</h3>
                <button v-on:click="changeTitle2">submit</button>
                </div>
                `,
            methods: {
                changeTitle2(){
                    var data = {title: 'Đã thay đổi'};
                    this.$emit("changeTitleEvent", data)
                }
            },
        })
        new Vue({
            el: '#blog-post-demo',
            data: {
                title: "Chưa thay đổi"
            },
            methods: {
                changeTitle(data){
                    console.log(this.title);
                    this.title = data.title;
                }
            }
        })
    </script>
</body>

</html>