<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="blog-post-demo">
        <blog-post post-title="hello!"></blog-post>
    </div>

    <div id="blog-post">
        <blog v-for="(post, index) in posts" v-bind:key="index" v-bind:title="post.title" v-bind:number="post.number" v-bind:isDelete="post.isDelete"></blog>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        Vue.component('blog-post', {
            props: ['postTitle'],
            template: '<h3>{{ postTitle }}</h3>'
        })
        new Vue({
            el: '.blog-post-demo'
        })

        Vue.component('blog', {
            props: {
                title: String,
                number: String,
                isDelete: Boolean
            },
            template: '<h3>{{ title }} : {{ number }} : {{isDelete}}</h3>'
        })
        new Vue({
            el:'#blog-post',
            data:{
                posts:  [
                    {title: 'football', number: 2, isDelete: true}
                ]
            }
        })
    </script>
</body>
</html>